<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCGpJdiGuTE7sTAo-ukXuWx5Ueauh5nToA</string>
	<key>GCM_SENDER_ID</key>
	<string>869018653891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nickhurst.ToDoListApp</string>
	<key>PROJECT_ID</key>
	<string>todolist-f8f13</string>
	<key>STORAGE_BUCKET</key>
	<string>todolist-f8f13.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:869018653891:ios:fb69207e1373675a4f7e76</string>
</dict>
</plist>